/* COLORS */
@theme-color: #888;
@fade-in-opacity: .5;
@fade-out-opacity: .9;

/* DIMENSIONS */
@navbar-height: 50px;
@icon-max-height: 30px;
@standard-padding: 10px;

/* MEDIA QUERIES */
@wide-screen-down: ~'(max-width: 1199px)';
@desktop-down: ~'(max-width: 991px)';
@tablet-down: ~'(max-width: 767px)';
@phone-down: ~'(max-width: 480px)';
@small-phone-down: ~'(max-width: 320px)';

/* ANIMATIONS */

@-webkit-keyframes fade-in {.mixin-fade-in;}
@-moz-keyframes fade-in {.mixin-fade-in;}
@-ms-keyframes fade-in {.mixin-fade-in;}
@-o-keyframes fade-in {.mixin-fade-in;}
@keyframes fade-in {.mixin-fade-in;}

.mixin-fade-in () {
    0% {opacity: @fade-in-opacity;}
    100% {opacity: 1;}
}

@-webkit-keyframes fade-out {.mixin-fade-out;}
@-moz-keyframes fade-out {.mixin-fade-out;}
@-ms-keyframes fade-out {.mixin-fade-out;}
@-o-keyframes fade-out {.mixin-fade-out;}
@keyframes fade-out {.mixin-fade-out;}

.mixin-fade-out () {
  0% {opacity: @fade-out-opacity;}
  100% {opacity: 0;}
}

/* RULES */

body {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;

  a, a:visited {
    color: @theme-color;

    &:hover {
      color: #000;
    }
  }

  .subheader {
    text-align: center;
  }

  .text-right {
    text-align: right;
  }

  .text-center {
    text-align: center;
  }

  .underline {
    text-decoration: underline;
  }

  .body-content {
    padding-top: @navbar-height; /* So navbar doesn't cover up content */
  }
}

.navbar {
  position: fixed;
  z-index: 10000;
  background-color: #fff;
  width: 100%;

  .text-circle {
    border: solid 1px;
    border-radius: 50%;
    padding: 4px;
  }

  .close {
    :first-child {
      transform: rotate(45deg);
      position: relative;
      top: 2.5px;
    }

    :nth-child(2) {
      display: none;
    }

    :last-child {
      transform: rotate(-45deg);
      position: relative;
      bottom: 2.5px;
    }
  }

  .navpage {
    animation: fade-in .1s;
    background-color: #fff; /* Fallback for browsers that don't support RGBA */
    background-color: rgba(255, 255, 255, 0.95);
    height: 100%;
    position: fixed;
    width: 100%;
    z-index: 100000;

    .nav {
      font-size: 3em;
      text-align: center;
    }

    .link-container {
      display: flex;
      justify-content: space-between;
      margin-left: 30%;
      width: 40%;
    }

    .linked-icon {
      max-height: @icon-max-height;
      opacity: @fade-in-opacity;

      &:hover {
        animation: fade-in .5s;
        cursor: pointer;
        opacity: 1;
      }
    }
  }
}

// PAGE SPECIFIC
#page-index {
  position: relative;
  max-height: 90vh;

  a {
    text-decoration: none;
  }

  #tagline {
    padding: @standard-padding (@standard-padding + 100px);

    a {
      margin: 40px;
    }

    h3 {
      color: @theme-color;
      font-size: 8rem;
      font-weight: 100;
      margin: 40px;
    }

    @media @phone-down {
      padding: @standard-padding;

       h3 {
        font-size: 4rem;
      }
    }
  }
}

#page-photography, #page-projects {
  text-align: center;

  #photography-content {
    img {
      max-height: 100vh;
      padding: 20px;
    }
  }

  #projects-content .project-container {
    position: relative;

    .project-overlay-title {
      position: absolute;
    }

    .image-mask-overlay {
      background-color: #fff;
      opacity: @fade-out-opacity;
      position: absolute;
      top: 0px;
      left: 0px;
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      &:hover {
        opacity: 0;
        animation: fade-out .2s;

        project-overlay-title {
          opacity: 0;
        }
      }
    }
  }
}
