<div class="row">
    <div class="col-sm-6 col-md-5">
        <img src="images/tsuipo.jpg" class="img-responsive" alt="Po Tsui">
    </div>
    <div class="col-sm-6 col-md-5">
      <p>Hi, I'm Po. I graduated from Stanford in 2019 with a major in computer science and interdisciplinary honors in education. My interests lie in human-computer interaction, storytelling, educational equity, and leveraging technology for social good. I'm currently a full-time software engineer based in Seattle. Check out my <a href="photography">photography</a> and <a href="https://medium.com/@potsui">writing</a>.</p>
    </div>
</div>
