<div class="row">
    <div class="col-sm-5 col-md-5">
        <img src="images/tsuipo.jpg" class="img-responsive" alt="Po Tsui">
    </div>
    <div class="col-sm-5 col-md-5">
        <p>I'm Po, a computer science major at Stanford University from the class of 2019. My interests lie in human-computer interaction, design, teaching, and edtech. I'm also a freelance web developer and tutor. In my free time, I enjoy running, exploring the city, taking lots of pictures, and trying new foods.</p>
    </div>
</div>
