<div class="row">
    <div class="col-sm-6 col-md-5">
        <img src="images/tsuipo.jpg" class="img-responsive" alt="Po Tsui">
    </div>
    <div class="col-sm-6 col-md-5">
      <p>Hi, I'm Po. I'm a software engineer based in Seattle and the San Francisco Bay Area. I graduated from Stanford in 2019 with a major in computer science and interdisciplinary honors in education. My interests lie in human-computer interaction, the intersection of tech and the arts, and leveraging technology for social good. Connect with me on <a href="https://www.linkedin.com/in/potsui">LinkedIn</a>, and check out my past software <a href="projects">projects</a>, <a href="https://potsuiphotography.com/">photography</a> and <a href="https://medium.com/@potsui">writing</a>.</p>
    </div>
</div>
