<div id="page-photography">
    <div class="subheader">
        <p>
            <a href="#floral-velvet-blues" onclick="main.loadFolder('201712141')">Floral Velvet Blues</a> | 
            <a href="#violet-paradise" onclick="main.loadFolder('201712142')">Violet Paradise</a> | 
            <a href="#angst" onclick="main.loadFolder('201710181')">Angst</a> | 
            <a href="#engineering-quad" onclick="main.loadFolder('201710182')">Engineering Quad</a>
        </p>
    </div>
    <div id="photography-content">
    </div>
    <div class="subheader">
        <p>
            <a href="#floral-velvet-blues" onclick="main.loadFolder('201712141')">Floral Velvet Blues</a> | 
            <a href="#violet-paradise" onclick="main.loadFolder('201712142')">Violet Paradise</a> | 
            <a href="#angst" onclick="main.loadFolder('201710181')">Angst</a> | 
            <a href="#engineering-quad" onclick="main.loadFolder('201710182')">Engineering Quad</a>
        </p>
    </div>
</div>
<script>
    main.loadFolder('201712141');
</script>
